/* main.css */
html, body, h1, h2, h3, h4, p, li, div {
  padding: 0;
  border: 0;
  margin: 0;
  font-size: 100%;
  font: inherit;
}
body {
  font-family: Verdana, Garamond, serif;
  text-align: center;
  width: auto;
}
.skills {
padding: 25px;
}
.skills li {
  list-style-type: none;
  border: 1px solid;
  padding: 10px;
  display: inline;
  margin-left: auto;
  margin-right: auto;
}
.footer {
  margin-top: 25px;
  padding: 15px;
}
